/* ==========================================================================
   Variables/Utilities
   ========================================================================== */
:root {
  --bs-blue: #005bff;
  --bs-body-color: #1e1e1e;
  --bs-dark: #1e1e1e;
  --bs-teal: #06e3b3;
  --bs-green: #5fff00;
  --bs-off-white: #faf2f0;
  --bs-orange: #ff8500;
  --bs-red: #ff0000;
  --bs-yellow: #ebff00;
  --bs-primary: #005bff;
  --bs-body-font-family: "PP Neue Montreal", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-body-font-family-book: "PP Neue Montreal Book", "PP Neue Montreal", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-body-font-size: 18px;
  --bs-body-font-weight: 400;
  --bs-body-letter-spacing: 0.36px;
  --bs-body-line-height: 28px;
}

.datepicker {
  border-radius: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  font-size: 15px;
  letter-spacing: 0.36px;
  line-height: 18px;
  padding: 0;
  width: 100%;
}

.datepicker-days {
  border: 1px solid #000;
  padding: 0 !important;
}

.form-datepicker-lg::after {
  top: 18px;
  right: 19px;
  width: 17px;
  height: 18px;
  background-size: 18px auto;
}

.datepicker-days,
.datepicker-days table,
.datepicker-months,
.datepicker-months table,
.datepicker-years,
.datepicker-years table,
.datepicker-decades,
.datepicker-decades table,
.datepicker-centuries,
.datepicker-centuries table {
  width: 100%;
}

.datepicker-days thead > tr:nth-child(2),
.datepicker-months thead > tr:nth-child(2),
.datepicker-years thead > tr:nth-child(2),
.datepicker-decades thead > tr:nth-child(2),
.datepicker-centuries thead > tr:nth-child(2) {
  border-bottom: 1px solid var(--bs-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.datepicker-days thead > tr:nth-child(3),
.datepicker-months thead > tr:nth-child(3),
.datepicker-years thead > tr:nth-child(3),
.datepicker-decades thead > tr:nth-child(3),
.datepicker-centuries thead > tr:nth-child(3) {
  padding-top: 5px;
  font-size: 13px;
}

.datepicker-days thead > tr:nth-child(3),
.datepicker-months thead > tr:nth-child(3),
.datepicker-years thead > tr:nth-child(3),
.datepicker-decades thead > tr:nth-child(3),
.datepicker-centuries thead > tr:nth-child(3),
.datepicker tbody,
.datepicker tfoot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: calc(100% - 1px);
}

.datepicker tbody,
.datepicker tfoot {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.datepicker tbody {
  padding-bottom: 5px;
}

.datepicker tbody > tr,
.datepicker tfoot > tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.datepicker-days thead > tr:nth-child(3) > th,
.datepicker-months thead > tr:nth-child(3) > th,
.datepicker-years thead > tr:nth-child(3) > th,
.datepicker-decades thead > tr:nth-child(3) > th,
.datepicker-centuries thead > tr:nth-child(3) > th,
.datepicker tbody > tr > td,
.datepicker tfoot > tr > td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 13%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.datepicker-months tbody > tr > td,
.datepicker-years tbody > tr > td,
.datepicker-decades tbody > tr > td,
.datepicker-centuries tbody > tr > td {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}

.datepicker-months .month,
.datepicker-years .year,
.datepicker-decades .decade,
.datepicker-centuries .century {
  width: 14.66%;
}

.datepicker td,
.datepicker th {
  font-weight: 400;
  height: auto;
  border-radius: 0;
}

.datepicker .next,
.datepicker .prev {
  font-size: 0;
  text-indent: -9999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 39px;
  height: 39px;
}

.datepicker .prev::before,
.datepicker .next::before {
  content: "";
  width: 23px;
  height: 23px;
  background-image: url(../img/icon-arrow-left-black.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 23px auto;
  margin-right: auto;
  margin-left: auto;
}

.datepicker .next::before {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.datepicker .datepicker-switch {
  border-right: 1px solid var(--bs-dark);
  border-left: 1px solid var(--bs-dark);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  height: 39px;
  width: calc(100% - 78px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover {
  background: transparent;
}

.datepicker-days .dow {
  height: 21px;
  position: relative;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.datepicker-days .day {
  height: 36px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
}

.datepicker-days .day::before {
  content: "";
  display: block;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

.datepicker-days .today::before {
  background-color: transparent;
  border-color: transparent;
}

.datepicker-months {
  border: 1px solid black;
}

.datepicker-months .month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: calc(100% / 6);
  height: 39px;
  line-height: 18px;
  float: none;
  margin: 0;
  border-radius: 0;
}

.datepicker .month.focused,
.datepicker .month:hover {
  background: transparent;
  color: #f0ad4e;
}

.datepicker table tr td.day.focused,
.datepicker table tr td.day:hover {
  background: transparent;
}

.datepicker table tr td.day.focused::before,
.datepicker table tr td.day:hover::before {
  border-color: var(--bs-dark);
}

.datepicker table tr td.old.day.focused::before,
.datepicker table tr td.old.day:hover::before,
.datepicker table tr td.new.day.focused::before,
.datepicker table tr td.new.day:hover::before,
.datepicker table tr td.disabled.day.focused::before,
.datepicker table tr td.disabled.day:hover::before {
  border-color: #999;
}

.datepicker table tr td.today,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover {
  color: #f0ad4e;
  background-color: transparent;
  background-image: none;
  background-repeat: initial;
  border-color: transparent;
  -webkit-filter: none;
  filter: none;
}

.datepicker table tr td span.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active:hover {
  color: var(--bs-blue);
  background-color: transparent;
  background-image: none;
  background-repeat: initial;
  border-color: transparent;
  -webkit-filter: none;
  filter: none;
  text-shadow: none;
}

.datepicker table tr td.today:hover::before {
  border-color: #f0ad4e;
}

.datepicker table tr td.today.active,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled.disabled,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover.active,
.datepicker table tr td.today.disabled:hover.disabled,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today.disabled:hover[disabled],
.datepicker table tr td.today.disabled[disabled],
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today:hover.disabled,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today:hover:hover,
.datepicker table tr td.today:hover[disabled],
.datepicker table tr td.today[disabled],
.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active.disabled:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active[disabled] {
  background-color: transparent;
}

.datepicker table tr td.today:hover:hover {
  color: #f0ad4e;
}

.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover {
  color: #fff;
  background-color: transparent;
  background-image: none;
  background-repeat: initial;
  border-color: transparent;
  -webkit-filter: none;
  filter: none;
  text-shadow: none;
}

.datepicker table tr td.today.active:hover:hover {
  color: #fff;
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active[disabled] {
  background-color: transparent;
}

.datepicker table tr td.active.active::before,
.datepicker table tr td.active.disabled::before,
.datepicker table tr td.active.disabled.active::before,
.datepicker table tr td.active.disabled.disabled::before,
.datepicker table tr td.active.disabled:active::before,
.datepicker table tr td.active.disabled:hover::before,
.datepicker table tr td.active.disabled:hover.active::before,
.datepicker table tr td.active.disabled:hover.disabled::before,
.datepicker table tr td.active.disabled:hover:active::before,
.datepicker table tr td.active.disabled:hover:hover::before,
.datepicker table tr td.active.disabled:hover[disabled]::before,
.datepicker table tr td.active.disabled[disabled]::before,
.datepicker table tr td.active:active::before,
.datepicker table tr td.active:hover::before,
.datepicker table tr td.active:hover.active::before,
.datepicker table tr td.active:hover.disabled::before,
.datepicker table tr td.active:hover:active::before,
.datepicker table tr td.active:hover:hover::before,
.datepicker table tr td.active:hover[disabled]::before,
.datepicker table tr td.active[disabled]::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.datepicker-dropdown {
  border-radius: 0;
  padding: 0 0 8px 0;
  width: calc(100% - 40px);
}

.datepicker-dropdown::before,
.datepicker-dropdown::after {
  display: none;
}

.datepicker-container {
  font-size: 15px;
  line-height: 18px;
  margin-top: -10px;
  width: calc(100% - 40px);
}

.datepicker.datepicker-inline {
  background: transparent;
  position: relative;
  z-index: 1;
}
/*# sourceMappingURL=datepicker.css.map */